<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On
    
    # Forward Authorization header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Arahkan SEMUA traffic pengunjung menembus masuk ke folder public/
    # (Bukan hanya asset statis, tapi semua routing website)
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
    
    # Konfigurasi Pilihan Versi PHP Server cPanel / Litespeed
    <FilesMatch "\.(php4|php5|php3|php2|php|phtml)$">
        SetHandler application/x-lsphp82
    </FilesMatch>
</IfModule>